:root {
    font-size: 18px;
}

img, video{
    width: 100%;
}

a,
a:visited {
    color: #177a7a;
}

body {
    margin: 0;
}

.logo {
    width: 12%;
    margin-top: 10px;
}

.category {
    background-color: #fdfbf1;
    padding: 0.8em 0;
    color: #004d4c;
    border-top: 2px solid #fee4a1;
}

.category b{
    text-transform: uppercase;
}

main {
    width: 50%;
    margin: 80px auto 0;
    color: #333333;
}

footer {
    width: 50%;
    margin: 0 auto;
    color: #333333;
}



.introduzione {
    margin-top: 30px;
}

.video {
    border-radius: 2%;
    display: block;
    margin: 0 auto;
    box-shadow: 1px 5px 20px rgb(82, 82, 82);
}

.credits {
    color: #9c9c9c;
    margin-top: 20px;
}

.featured {
    border-left: 2px solid #ffe29b;
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.featured p {
    margin: 0;
    color: #b5460f;
}

.centered {
    text-align: center;
}

.titolo-sezione {
    border-bottom: 2px solid #dbf8f7;
    padding-bottom: 20px;
    font-weight: 400;
}

ul li{
    margin-bottom: 15px;
}