/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

#testoAlternato{
    width: 50%;
    margin: 100px auto;
    padding: 20px;
    border: 2px solid grey;
}

span{
    position: relative;
}

i{
    width: 400px;
    position: absolute;
    left: 5px;
    color: rgb(101, 204, 252);
    font-weight: bold;
}

i:first-child{
    animation: fadeInOut 6s linear 0s infinite;
}

i:nth-child(2){
    opacity: 0;
    animation: fadeInOut 6s linear 2s infinite;
}

i:nth-child(3){
    opacity: 0;
    animation: fadeInOut 6s linear 4s infinite;
}

@keyframes fadeInOut{
0%{
    opacity: 0;
    transform: translateY(-20px);
}
33%{
    opacity: 1;
}
100%{
    opacity: 0;
    transform: translateY(15px);
}
}