<main class="form-signin w-100 m-auto">

  <form class="w-25 m-auto mt-5">
    <h1 class="mb-3 text-center">Please Sign-in</h1>

    <div class="form-floating">
      <input type="email" name="email" class="form-control mb-2" id="floatingInput" placeholder="name@example.com" [(ngModel)]="data.email">
      <label for="floatingInput">Email address</label>
    <div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div></div>
    <div class="form-floating">
      <input type="password" name="password" class="form-control mb-2" id="floatingPassword" placeholder="Password" [(ngModel)]="data.password">
      <label for="floatingPassword">Password</label>
    <div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div></div>

    <button class="btn btn-primary w-100 py-2" (click)="login()">Login</button>
    <p class="text-end">Non hai un account? <a class="link" [routerLink]="['/auth','register']">Registrati</a></p>
  </form>
</main>
