<div class="w-100 main-content">
  <div class="generic-container">
  <div class="container h-100 d-flex flex-column">
      <h1 class="text-center text-light mt-5">Benvenuto!</h1>
      <div class="row">
        <div class="col text-center">
          <a class="btn btn-primary" [routerLink]="['/auth', 'login']">
            Accedi
          </a>
        </div>
        <div class="col text-center">
          <a class="btn btn-primary" [routerLink]="['/auth', 'register']">
            Registrati
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
