<div class="w-100 main-content">
  <div class="generic-container">
  <div class="container h-100 d-flex flex-column justify-content-center">
      <h1 class="text-center text-light mb-4">Benvenuto!</h1>
      <p class="text-light mb-5 description">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Phasellus non varius metus. Morbi mattis sapien sapien. Nam sed arcu fringilla, dignissim nibh et, tempus mauris. Praesent aliquam orci dictum, elementum ligula volutpat, dignissim nunc. Mauris et fermentum mauris, vel venenatis augue. Cras a justo volutpat, finibus neque sed, pretium tortor. Cras feugiat, nisi sit amet imperdiet lacinia, mauris risus volutpat nibh, rhoncus imperdiet nibh mi sed mauris. Etiam vel purus orci. Vivamus volutpat at libero ut facilisis.
      </p>
      <div class="row">
        <div class="col text-center">
          <a class="btn btn-primary" [routerLink]="['/auth', 'login']">
            Accedi
          </a>
        </div>
        <div class="col text-center">
          <a class="btn btn-primary" [routerLink]="['/auth', 'register']">
            Registrati
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
