<div class="container">

  <h2>Template Driven form hero</h2>

  <form #homeForm="ngForm" (ngSubmit)="onSubmit(homeForm)">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input id="nome" name="nome" type="text" class="form-control" ngModel required>
      <div class="alert alert-danger mt-2" role="alert" *ngIf="homeForm.controls['nome'].invalid && !homeForm.controls['nome'].untouched">
        Campo Obbligatorio
      </div>
    </div>
    <div class="mb-3">
      <label for="alter-ego" class="form-label">Alter Ego</label>
      <input id="alter-ego" name="alterEgo" type="text" class="form-control" ngModel required>
      <div class="alert alert-danger mt-2" role="alert" *ngIf="homeForm.controls['alterEgo'].invalid && !homeForm.controls['nome'].untouched">
        Campo Obbligatorio
      </div>
    </div>
    <div class="mb-3">
      <label for="power" class="form-label">Super Potere</label>
      <div>
        <select id="power" name="power" class="form-select" ngModel required>
          <option *ngFor="let power of powerArray" [value]="power">{{power}}</option>
        </select>
      </div>
      <div class="alert alert-danger mt-2" role="alert" *ngIf="homeForm.controls['power'].invalid && !homeForm.controls['nome'].untouched">
        Campo Obbligatorio
      </div>
    </div>
    <div class="mb-3">
      <label for="enemy" class="form-label">Nemico</label>
      <input id="enemy" name="enemy" type="text" class="form-control" maxlength="10" ngModel required>
    </div>
    <div class="mb-3">
      <label for="planet" class="form-label">Pianeta</label>
      <input id="planet" name="planet" type="text" class="form-control" minlength="5" ngModel required>
    </div>
    <div class="mb-3">
      <label for="weakness" class="form-label">Debolezza</label>
      <input id="weakness" name="weakness" type="text" class="form-control" ngModel>
    </div>
    <div class="my-3">
      <button name="submit" type="submit" class="btn btn-primary w-100" [disabled]="!homeForm.valid">Crea</button>
    </div>
  </form>

</div>
