<div class="container">

  <h2>TD from hero</h2>

  <form #homeForm="ngForm" (ngSubmit)="onSubmit(homeForm)">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input id="nome" name="nome" type="text" class="form-control" ngModel required>
    </div>
    <div class="mb-3">
      <label for="alter-ego" class="form-label">Alter Ego</label>
      <input id="alter-ego" name="alterEgo" type="text" class="form-control" ngModel required>
    </div>
    <div class="mb-3">
      <label for="power" class="form-label">Super Potere</label>
      <div>
        <select id="power" name="power" class="form-select" ngModel required>
          <option value="" selected></option>
          <option value="1">First Title</option>
          <option value="2">Second Title</option>
        </select>
      </div>
    </div>
    <div class="mb-3">
      <label for="enemy" class="form-label">Nemico</label>
      <input id="enemy" name="enemy" type="text" class="form-control" maxlength="10" ngModel required>
    </div>
    <div class="mb-3">
      <label for="planet" class="form-label">Pianeta</label>
      <input id="planet" name="planet" type="text" class="form-control" minlength="5" ngModel required>
    </div>
    <div class="mb-3">
      <label for="weakness" class="form-label">Debolezza</label>
      <input id="weakness" name="weakness" type="text" class="form-control" ngModel>
    </div>
    <div class="my-3">
      <button name="submit" type="submit" class="btn btn-primary w-100" [disabled]="!homeForm.valid">Crea</button>
    </div>
  </form>

</div>
