<div class="container">
  <h1 class="text-center mb-5">Dashboard</h1>
  <div class="row">
    <div class="col" *ngFor="let item of usersArray">
      <div class="card m-auto" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{item.name +' '+ item.surname}}</h5>
          <p class="card-text">Email: {{item.email}}</p>
          <div class="d-flex justify-content-between">
            <a class="btn btn-primary" (click)="OnChange(item.email)">Modifica</a>
            <a class="btn btn-danger" (click)="OnDelete(item)">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
