/* font-family: 'Spectral', serif; */
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');

/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

a,
a:visited {
    text-decoration: none;
    color: rgba(41, 41, 41, 1);
}

/* CLASSI GENERALI */

.rounded-circle {
    border-radius: 100%;
}

.square-smooth {
    border-radius: 5px;
}
/* NAVBAR */

.main-navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: .9em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffc017;
    padding: 20px 0;
    border-bottom: 1px solid black;
    transition: all 1s;
}

.main-navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.main-navbar ul li {
    margin-left: 25px;
}

.main-navbar ul li:last-child {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
}

.navbar-alt{
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: .9em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 20px 0;
    border-bottom: 1px solid black;
    transition: background-color 1s;
}

.navbar-alt ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbar-alt ul li {
    margin-left: 25px;
}

.navbar-alt ul li:last-child {
    background-color: #1a8917;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    transition: background-color 1s;
}

/* HEADER */

.main-header {
    background-color: #ffc017;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: 'Spectral', serif;
    font-size: 7em;
    letter-spacing: -9px;
    margin-bottom: 25px;
}

.main-header div:first-child {
    margin-left: 10%;
}

.main-header p {
    color: #191919;
    font-size: 1.3em;
}

.main-header p:last-of-type {
    margin-bottom: 50px;
}

.main-header button {
    background-color: #191919;
    color: white;
    font-size: 1em;
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 10px 50px;
}

/* TRENDING SECTION */

.trend-card-container {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#trending-section {
    border-bottom: 1px solid rgb(235, 235, 235);
}

.trending-container {
    margin: 50px 10%;
}

.trend-title {
    display: flex;
    align-items: center;
}

.trend-title h3 {
    color: #191919;
    font-size: .9em;
    font-weight: 900;
    margin-left: 10px;
}

/* TRENDING ARTICLE CSS */

.trend-card {
    display: flex;
    width: 400px;
    margin-bottom: 50px;
}

.number {
    font-size: 32px;
    font-weight: bold;
    color: rgba(230, 230, 230, 1);
    margin-right: 20px;
}

.card-content header {
    display: flex;
    align-items: center;
    font-size: 13px;
}

.card-content img {
    width: 20px;
}

.card-content header p {
    font-weight: 500;
    margin-left: 10px;
}

.card-content header p span {
    color: #757575;
    font-weight: 400;
}

.card-content h4 {
    font-weight: 900;
    margin: 10px 0;
}

.card-content footer {
    display: flex;
    align-items: center;
    color: rgba(117, 117, 117, 1);
    font-size: 13px;
}

.card-content footer img {
    margin-left: 5px;
}

/* ARTICLES CONTAINER CSS */

#article-sidebar {
    margin: 50px 10% 0;
    display: flex;
}

.article-container{
    max-width: 70%;
}

/* SINGLE ARTICLE CSS */
.article{
    display: flex;
    margin-bottom: 30px;
}

.article-author{
    display: flex;
    align-items: center;
    font-size: .9em;
    font-weight: 500;
}

.article-author img{
    width: 30px;
    margin-right: 10px;
}

.article-author p span{
    color: #757575;
    font-weight: 400;
}

.article > img{
    width: 200px;
    object-fit: contain;
}

.content{
    margin-right: 20px;
    flex-grow: 1;
}

.content h4{
    color: #191919;
    font-weight: 900;
    font-size: 1.5em;
    text-transform: capitalize;
    margin-top: 15px;
    margin-bottom: 5px;
}

.content main, .content footer{
    color: #757575;
}

.content main{
    display: flex;
    line-height: 20px;
    margin-bottom: 15px;
}

.content footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content footer div{
    display: flex;
    align-items: center;
}

.content footer span{
    background-color: rgba(242, 242, 242, 1);
    padding: 5px 10px;
    border-radius: 50px;
}

.content footer div img{
    margin-left: 5px;
}

/* SIDEBAR CSS */

aside{
    max-width: 30%;
    margin-left: 5%;
}

aside h4{
    font-weight: 500;
    font-size: 1em;
    margin-bottom: 20px;
}

.sticky{
    position: sticky;
    top: 100px;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(230, 230, 230, 1);
}

.category {
    background-color: rgba(242, 242, 242, 1);
    border-radius: 50px;
    padding: 10px;
    margin: 5px;
}

.category:hover{
    background-color: rgba(230, 230, 230, 1);
}

aside footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

aside .footer-link{
    font-size: .9em;
    color: rgba(117, 117, 117, 1);
    margin: 10px;
}

#sidebar{
    position: sticky;
    top: 0;
}

@media screen and (max-width: 903px) {

    /* HEADER */

    .main-header{
        font-size: .8em;
    }

    .main-header div:first-child{
        width: 70%;
    }

    /* TRENDING CSS */

    .trend-card{
        width: 330px;
    }

    #article-sidebar{
        flex-direction: column-reverse;
    }

    aside{
        max-width: unset;
    }

    aside h4{
        text-transform: uppercase;
    }

    #sidebar{
        position: static;
        width: 100%;
    }
    
    .article-container{
        max-width: unset;
    }
}

@media screen and (max-width: 552px){

    .main-header:last-child{
        display: none;
    }

}